#Secrets—NEJAMAISCOMMITER
node_modules/
dist/
.env

local.properties
*.jks
*.keystore
google-services.json
#Build
*.apk
*.aab
build/
app/build/
*/build/
#AndroidStudio
.idea/
*.iml
.gradle/
captures/
#OS
.DS_Store
Thumbs.db
EOF